# ==========================
# Dependencies
# ==========================
/vendor/

# ==========================
# PHPUnit
# ==========================
.phpunit.cache/

# ==========================
# XDebug
# ==========================
/coverage/